<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="server=.\SQLEXPRESS;database=&quot;Feed Grabber&quot;;trusted_connection=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FeedSourceUrl" value="https://raw.githubusercontent.com/Hendy/OurUmbraco/960919ffa17ed6bcfebe6758d6697cf92b94023a/OurUmbraco.Site/config/CommunityBlogs.config" />
  </appSettings>
</configuration>